h1 {
    color: blue;
}

h2 {
    color: rgb(0, 0, 0);
}

header {
    background-color: #ffffff;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: rgb(82, 98, 177);
}

section {
    padding: 20px; /* Add padding for better visibility */
    background-color: #f0f0f0; /* Light background color for contrast */
    margin: 20px; /* Optional: add margin for spacing */
}

section::after {
    content: "";
    display: table;
    clear: both;
}


